<div style="max-width: 400px;width:60%; margin-top: 100px; margin-left: auto; margin-right: auto">
    <% if (messages && messages.error) { %>
    <div class="alert alert-danger">
        <span> <%= messages.error %> </span>
    </div>
    <% } %>
    <form action="/login" method="post">
        <label>用户名:</label>
        <input type="text" name="username" class="form-control"/>
        <label>密码:</label>
        <input type="password" name="password" class="form-control"/>
        <br/>
        <input type="submit" value="登录" class="btn btn-primary"/>
        <a href = "/register"> <button type = "button" class = "btn btn-info">注册 </button> </a>
    </form>
</div>
